Repository shutootaki/gwm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{js,jsx,mjs,cjs}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{json,md,yml,yaml,toml}": ["prettier --write"]
}

feat: implement ask mode for branch cleanup on remove
  gwm-rust/src/ui/views/remove.rs
Due: none

fix: correct display area calculation in MultiSelectList
  gwm-rust/src/ui/widgets/multi_select_list.rs
Due: none

feat(git): add is_main field to Worktree struct
  gwm-rust/src/git/types.rs
  gwm-rust/src/git/worktree.rs
Due: none

refactor(ui): introduce SelectState for single-select list
  gwm-rust/src/ui/app.rs
  gwm-rust/src/ui/event.rs
  gwm-rust/src/ui/widgets/mod.rs
  gwm-rust/src/ui/widgets/select_list.rs
Due: none

feat(table): add truncate_and_pad and smart column width calculation
  gwm-rust/src/ui/widgets/table.rs
Due: none

refactor(list): simplify statistics and use truncate_and_pad
  gwm-rust/src/ui/views/list.rs
Due: none

refactor(go): use inline viewport and show status icons
  gwm-rust/src/ui/views/go.rs
Due: none

feat(add): make remote branch fetch interruptible
  gwm-rust/src/ui/views/add.rs
Due: none

refactor(multi-select): improve cursor indicator and stats display
  gwm-rust/src/ui/widgets/multi_select_list.rs
Due: none

fix(widgets): use block.inner() for correct content positioning
  gwm-rust/src/ui/widgets/confirm.rs
  gwm-rust/src/ui/widgets/text_input.rs
Due: none

feat(tui): add Ctrl+C support for clean and remove views
  gwm-rust/src/ui/views/clean.rs
  gwm-rust/src/ui/views/remove.rs
Due: none

refactor(clean): use ratatui native colors instead of ANSI escape codes
  gwm-rust/src/git/types.rs
  gwm-rust/src/ui/views/clean.rs
Due: none

feat(add): support editor launch in TUI mode
  gwm-rust/src/ui/views/add.rs
Due: none

fix(remove): increase inline viewport height for preview display
  gwm-rust/src/ui/views/remove.rs
Due: none

fix(widgets): position hint directly below messages in notice widget
  gwm-rust/src/ui/widgets/notice.rs
Due: none

fmt
  gwm-rust/src/ui/views/add.rs
  gwm-rust/src/ui/views/clean.rs
  gwm-rust/src/ui/views/list.rs
  gwm-rust/src/ui/widgets/select_list.rs
  gwm-rust/src/ui/widgets/text_input.rs
Due: none

Update README.md
  README.md
Due: prettier --write

Update README_JA.md with gwm details
  README_JA.md
Due: prettier --write

fix(tui): improve error handling and add TerminalGuard safety
  gwm-rust/src/ui/event.rs
  gwm-rust/src/ui/mod.rs
  gwm-rust/src/ui/views/add.rs
  gwm-rust/src/ui/views/clean.rs
  gwm-rust/src/ui/views/go.rs
  gwm-rust/src/ui/views/remove.rs
  gwm-rust/src/utils/copy.rs
Due: none

feat: add shell integration for automatic directory change
  gwm-rust/src/cli/args.rs
  gwm-rust/src/cli/mod.rs
  gwm-rust/src/hooks/deferred.rs
  gwm-rust/src/hooks/mod.rs
  gwm-rust/src/hooks/runner.rs
  gwm-rust/src/main.rs
  gwm-rust/src/shell/cwd_file.rs
  gwm-rust/src/shell/init.rs
  gwm-rust/src/shell/mod.rs
  src/index.tsx
  src/utils/cwdFile.ts
  src/utils/index.ts
  src/utils/shellIntegration.ts
  test/cwd-file.test.ts
  test/shell-integration.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(claude): add tui-automation skill and reorganize skills
  .claude/settings.json
  .claude/skills/tui-automation/SKILL.md
  .claude/skills/tui-automation/patterns/gwm.py
  .claude/skills/tui-automation/tui-capture.sh
  .claude/skills/tui-automation/tui-close.sh
  .claude/skills/tui-automation/tui-send.sh
  .claude/skills/tui-automation/tui-start.sh
  .claude/skills/tui-automation/tui-state.sh
  .claude/skills/tui-automation/tui-type.sh
  .claude/skills/verify-gwm/SKILL.md
Due: prettier --write

refactor(config): change project config path from gwm/ to .gwm/
  .gitignore
  .gwm/config.toml
  gwm-rust/src/config/loader.rs
  gwm-rust/src/config/mod.rs
  src/config/index.ts
  src/config/loader.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update READMEs and remove obsolete specification docs
  README.md
  README_JA.md
  docs/hooks-spec.md
  docs/specification.md
  gwm-rust/README.md
Due: prettier --write

refactor(tui): improve add/go views and trust confirmation UI
  gwm-rust/src/lib.rs
  gwm-rust/src/trust/types.rs
  gwm-rust/src/ui/views/add.rs
  gwm-rust/src/ui/views/go.rs
  gwm-rust/src/ui/views/help.rs
  src/components/Help.tsx
  src/components/Welcome.tsx
  src/components/WorktreeGo.tsx
  src/hooks/useWorktree.ts
  src/trust/types.ts
  src/trust/verifier.ts
  src/utils/cli.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: rename test files to .tsx and update test cases
  test/cli.test.ts
  test/trust-cache.test.ts
  test/trust-verifier.test.ts
  test/use-worktree-options.test.tsx
  test/worktree-clean.test.tsx
  test/worktree-go.test.tsx
  test/worktree-remove.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(gwm-rust): improve error handling and add missing tests
  gwm-rust/src/cli/args.rs
  gwm-rust/src/config/loader.rs
  gwm-rust/src/hooks/deferred.rs
  gwm-rust/src/ui/views/add.rs
Due: none

test(gwm-rust): add comprehensive tests for hooks, trust, and UI modules
  gwm-rust/src/git/remote.rs
  gwm-rust/src/hooks/deferred.rs
  gwm-rust/src/hooks/runner.rs
  gwm-rust/src/trust/cache.rs
  gwm-rust/src/trust/hash.rs
  gwm-rust/src/trust/verifier.rs
  gwm-rust/src/ui/views/add.rs
  gwm-rust/src/ui/widgets/confirm.rs
  gwm-rust/src/ui/widgets/notice.rs
  gwm-rust/src/ui/widgets/spinner.rs
  gwm-rust/src/ui/widgets/text_input.rs
Due: none

fix(add): エディタ起動をhooks実行より先に行うよう変更
  gwm-rust/src/ui/views/add.rs
Due: none

refactor: improve file inclusion logic for ignored files handling
  gwm-rust/src/utils/copy.rs
  src/utils/git.ts
  src/utils/git/copy.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(ui): add fuzzy matching for search with highlight
  gwm-rust/Cargo.lock
  gwm-rust/Cargo.toml
  gwm-rust/src/ui/fuzzy.rs
  gwm-rust/src/ui/mod.rs
  gwm-rust/src/ui/widgets/multi_select_list.rs
  gwm-rust/src/ui/widgets/select_list.rs
Due: prettier --write

feat(error): add structured error display with suggestions
  gwm-rust/src/error.rs
  gwm-rust/src/main.rs
  gwm-rust/src/ui/error.rs
  gwm-rust/src/ui/widgets/notice.rs
Due: none

feat(list): add detailed view with sync/changes/activity columns
  gwm-rust/src/git/mod.rs
  gwm-rust/src/git/types.rs
  gwm-rust/src/git/worktree.rs
  gwm-rust/src/ui/views/list.rs
Due: none

feat(cli): rename pull-main to sync and add short aliases
  gwm-rust/src/cli/args.rs
  gwm-rust/src/cli/mod.rs
  gwm-rust/src/ui/views/help.rs
Due: none

feat(cli): rename pull-main to sync
  gwm-rust/src/cli/args.rs
  gwm-rust/src/cli/mod.rs
  gwm-rust/src/ui/views/help.rs
Due: none

fix(error): improve error handling to prevent silent failures
  gwm-rust/src/error.rs
  gwm-rust/src/trust/cache.rs
Due: none

refactor: improve code clarity and documentation
  gwm-rust/src/cli/args.rs
  gwm-rust/src/git/worktree.rs
  gwm-rust/src/ui/views/add.rs
  gwm-rust/src/ui/views/list.rs
Due: none

fmt
  .gwm/config.toml
  gwm-rust/src/error.rs
  gwm-rust/src/git/types.rs
  gwm-rust/src/git/worktree.rs
  gwm-rust/src/ui/error.rs
  gwm-rust/src/ui/views/list.rs
  gwm-rust/src/ui/widgets/notice.rs
  gwm-rust/src/ui/widgets/select_list.rs
Due: prettier --write

feat(gwm-rust): add unified --open editor option with Zed support
  gwm-rust/src/cli/args.rs
  gwm-rust/src/ui/views/go.rs
  gwm-rust/src/utils/editor.rs
  gwm-rust/src/utils/mod.rs
Due: none

feat(gwm-rust): enhance preview panel with status and recent changes
  gwm-rust/src/git/types.rs
  gwm-rust/src/git/worktree.rs
  gwm-rust/src/ui/app.rs
  gwm-rust/src/ui/colors.rs
  gwm-rust/src/ui/mod.rs
  gwm-rust/src/ui/widgets/select_list.rs
Due: none

feat(gwm-rust): add detailed operation summaries with duration tracking
  gwm-rust/src/hooks/runner.rs
  gwm-rust/src/hooks/types.rs
  gwm-rust/src/ui/summary.rs
  gwm-rust/src/ui/views/add.rs
  gwm-rust/src/ui/views/clean.rs
  gwm-rust/src/ui/views/remove.rs
Due: none
