Repository shutootaki/gwm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

feat(completion): add core types and CLI definition for shell completion
  src/completion/definition.ts
  src/completion/index.ts
  src/completion/types.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(completion): add dynamic completion providers
  src/completion/providers/base.ts
  src/completion/providers/branches-local.ts
  src/completion/providers/branches-remote.ts
  src/completion/providers/cache.ts
  src/completion/providers/index.ts
  src/completion/providers/types.ts
  src/completion/providers/worktrees.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(completion): add shell and Fig completion script generators
  src/completion/generators/fig/index.ts
  src/completion/generators/fig/spec.ts
  src/completion/generators/shell/bash.ts
  src/completion/generators/shell/fish.ts
  src/completion/generators/shell/index.ts
  src/completion/generators/shell/zsh.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(completion): add runtime completion engine
  src/completion/runtime/complete.ts
  src/completion/runtime/index.ts
  src/completion/runtime/parser.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(completion): add completion management commands
  src/completion/commands/index.ts
  src/completion/commands/install.ts
  src/completion/commands/internal.ts
  src/completion/commands/paths.ts
  src/completion/commands/script.ts
  src/completion/commands/status.ts
  src/completion/commands/uninstall.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(cli): integrate completion command into main CLI
  src/components/Completion.tsx
  src/components/Help.tsx
  src/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

test(completion): add comprehensive tests for shell completion
  test/completion/commands/paths.test.ts
  test/completion/commands/uninstall.test.ts
  test/completion/definition.test.ts
  test/completion/generators/__snapshots__/fig.test.ts.snap
  test/completion/generators/__snapshots__/shell.test.ts.snap
  test/completion/generators/fig.test.ts
  test/completion/generators/shell.test.ts
  test/completion/providers/cache.test.ts
  test/completion/runtime/complete.test.ts
  test/completion/runtime/parser.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add Homebrew formula and build scripts
  homebrew/Formula/gwm.rb
  homebrew/README.md
  package.json
  scripts/generate-completions.js
  scripts/update-homebrew-sha.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename GEMINI.md to Agents.md
  Agents.md
Due: prettier --write

docs: add shell completion documentation
  README.md
  README_JA.md
  docs/shell-completion-spec.md
Due: prettier --write

0.2.0
  package.json
Due: prettier --write

chore: add .gitignore entries for Serena and local docs
  .gitignore
Due: none

chore: add Claude Code settings
  .claude/settings.json
Due: prettier --write

chore: remove unused refactor command template
  .claude/commands/refactor.md
Due: prettier --write

feat(gwm-rust): add Rust implementation of gwm (Phase 2-3)
  gwm-rust/.gitignore
  gwm-rust/Cargo.lock
  gwm-rust/Cargo.toml
  gwm-rust/src/cli/args.rs
  gwm-rust/src/cli/mod.rs
  gwm-rust/src/config/loader.rs
  gwm-rust/src/config/merger.rs
  gwm-rust/src/config/mod.rs
  gwm-rust/src/config/types.rs
  gwm-rust/src/error.rs
  gwm-rust/src/git/add.rs
  gwm-rust/src/git/core.rs
  gwm-rust/src/git/mod.rs
  gwm-rust/src/git/remote.rs
  gwm-rust/src/git/types.rs
  gwm-rust/src/git/worktree.rs
  gwm-rust/src/lib.rs
  gwm-rust/src/main.rs
  gwm-rust/src/shell/exec.rs
  gwm-rust/src/shell/mod.rs
  gwm-rust/src/ui/app.rs
  gwm-rust/src/ui/event.rs
  gwm-rust/src/ui/mod.rs
  gwm-rust/src/ui/views/add.rs
  gwm-rust/src/ui/views/list.rs
  gwm-rust/src/ui/views/mod.rs
  gwm-rust/src/ui/widgets/confirm.rs
  gwm-rust/src/ui/widgets/mod.rs
  gwm-rust/src/ui/widgets/notice.rs
  gwm-rust/src/ui/widgets/select_list.rs
  gwm-rust/src/ui/widgets/spinner.rs
  gwm-rust/src/ui/widgets/table.rs
  gwm-rust/src/ui/widgets/text_input.rs
  gwm-rust/src/utils/formatting.rs
  gwm-rust/src/utils/mod.rs
  gwm-rust/src/utils/validation.rs
Due: prettier --write

feat(gwm-rust): add branch name validation in execute_add_direct function
  gwm-rust/src/ui/views/add.rs
Due: none

chore: add Rust build artifacts to .gitignore
  .gitignore
Due: none

feat(gwm-rust): add trust and hooks systems for safe hook execution
  gwm-rust/Cargo.lock
  gwm-rust/Cargo.toml
  gwm-rust/src/hooks/mod.rs
  gwm-rust/src/hooks/runner.rs
  gwm-rust/src/hooks/types.rs
  gwm-rust/src/lib.rs
  gwm-rust/src/trust/cache.rs
  gwm-rust/src/trust/hash.rs
  gwm-rust/src/trust/mod.rs
  gwm-rust/src/trust/types.rs
  gwm-rust/src/trust/verifier.rs
Due: prettier --write

feat(gwm-rust): add utility modules for copy, editor, and virtualenv
  gwm-rust/src/utils/copy.rs
  gwm-rust/src/utils/editor.rs
  gwm-rust/src/utils/mod.rs
  gwm-rust/src/utils/validation.rs
  gwm-rust/src/utils/virtualenv.rs
Due: none

feat(gwm-rust): add multi-select list widget and improve existing widgets
  gwm-rust/src/ui/widgets/confirm.rs
  gwm-rust/src/ui/widgets/mod.rs
  gwm-rust/src/ui/widgets/multi_select_list.rs
  gwm-rust/src/ui/widgets/select_list.rs
  gwm-rust/src/ui/widgets/spinner.rs
  gwm-rust/src/ui/widgets/table.rs
  gwm-rust/src/ui/widgets/text_input.rs
Due: none

feat(gwm-rust): implement go, remove, clean, pull-main, and help commands
  gwm-rust/src/cli/args.rs
  gwm-rust/src/config/loader.rs
  gwm-rust/src/config/merger.rs
  gwm-rust/src/config/types.rs
  gwm-rust/src/error.rs
  gwm-rust/src/git/add.rs
  gwm-rust/src/git/clean.rs
  gwm-rust/src/git/mod.rs
  gwm-rust/src/git/pull.rs
  gwm-rust/src/git/remove.rs
  gwm-rust/src/git/types.rs
  gwm-rust/src/git/worktree.rs
  gwm-rust/src/main.rs
  gwm-rust/src/shell/exec.rs
  gwm-rust/src/ui/app.rs
  gwm-rust/src/ui/event.rs
  gwm-rust/src/ui/views/add.rs
  gwm-rust/src/ui/views/clean.rs
  gwm-rust/src/ui/views/go.rs
  gwm-rust/src/ui/views/help.rs
  gwm-rust/src/ui/views/list.rs
  gwm-rust/src/ui/views/mod.rs
  gwm-rust/src/ui/views/pull_main.rs
  gwm-rust/src/ui/views/remove.rs
Due: none

ci: add GitHub Actions workflows for Rust
  .github/workflows/ci-rust.yml
  .github/workflows/release-rust.yml
Due: prettier --write

docs(gwm-rust): add comprehensive README
  gwm-rust/README.md
Due: prettier --write

fix(gwm-rust): add get_repo_root_at for parallel test safety
  gwm-rust/src/git/core.rs
  gwm-rust/src/git/mod.rs
Due: none

fix(gwm-rust): improve add command UX with deferred fetch and output-path fix
  gwm-rust/src/ui/app.rs
  gwm-rust/src/ui/views/add.rs
Due: none

fix(gwm-rust): fix display issues in list view and select widget
  gwm-rust/src/ui/views/list.rs
  gwm-rust/src/ui/widgets/select_list.rs
Due: none

fix(ci): update MSRV to 1.74 and add local CI verification tools
  .github/workflows/ci-rust.yml
  gwm-rust/Cargo.lock
  gwm-rust/Cargo.toml
  gwm-rust/Makefile
  gwm-rust/rust-toolchain.toml
  gwm-rust/src/git/add.rs
  gwm-rust/src/trust/cache.rs
  gwm-rust/src/utils/copy.rs
  gwm-rust/src/utils/virtualenv.rs
Due: prettier --write

fix(gwm-rust): address CodeRabbit review feedback for security and safety
  gwm-rust/src/git/clean.rs
  gwm-rust/src/trust/verifier.rs
  gwm-rust/src/utils/virtualenv.rs
Due: none

fix(ci): use macos-13 for x86_64-apple-darwin builds
  .github/workflows/ci-rust.yml
  .github/workflows/release-rust.yml
Due: prettier --write

refactor(gwm-rust): simplify main.rs and add.rs code structure
  gwm-rust/src/main.rs
  gwm-rust/src/ui/views/add.rs
Due: none

feat(gwm-rust): add verify-gwm agent skill for testing
  gwm-rust/.claude/skills/verify-gwm/SKILL.md
  gwm-rust/AGENTS.md
  gwm-rust/CLAUDE.md
Due: prettier --write

docs: migrate to unified AGENTS.md structure
  .cursor/rules/rules.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: prettier --write

refactor: remove shell integration docs and unify welcome message
  gwm-rust/README.md
  gwm-rust/src/cli/args.rs
  gwm-rust/src/main.rs
  gwm-rust/src/ui/views/help.rs
  src/components/Help.tsx
Due: eslint --fix --max-warnings 0, prettier --write

ci: update macOS version for build job in CI workflow
  .github/workflows/ci-rust.yml
Due: prettier --write

fix: align CLI behavior between TypeScript and Rust versions
  gwm-rust/src/cli/args.rs
  gwm-rust/src/ui/views/help.rs
  src/components/Help.tsx
  src/components/WorktreeAdd.tsx
  src/hooks/useWorktree.ts
  src/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor: simplify terminal handling and remove unused functions in TUI views
  gwm-rust/src/ui/views/add.rs
  gwm-rust/src/ui/views/clean.rs
  gwm-rust/src/ui/views/remove.rs
Due: none

style: simplify worktree status icons and improve HEAD column color
  gwm-rust/src/git/types.rs
  gwm-rust/src/ui/views/list.rs
  gwm-rust/src/ui/widgets/table.rs
Due: none

feat: use main_branches config for MAIN status detection
  gwm-rust/src/git/worktree.rs
Due: none

feat: skip hook confirmation dialog for trusted projects
  gwm-rust/src/ui/views/add.rs
Due: none

refactor: simplify clean TUI to Enter/Esc confirmation
  gwm-rust/src/ui/views/clean.rs
Due: none

Path conditions:
  eslint --fix --max-warnings 0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,md,yml,yaml,toml})
